@model saturnApp.Models.Arquivo

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div class="">
    <h4>Arquivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tamanho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div class="btn-group">
    <a asp-controller="Diretorio" asp-route-id="@Model.PaiId" asp-action="Index" class="btn btn-secondary">Voltar</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
</div>
