@model saturnApp.Models.Diretorio

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes de @Html.DisplayFor(model => model.Nome)</h2>

<div class="text-center">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <div class="btn-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Voltar</a>
        <input asp-action="Index" asp-route-id="@Model.PaiId" type="submit" value="Apagar" class="btn btn-warning" />
    </div>
</div>
