@model IEnumerable<saturnApp.Models.Diretorio>
@using saturnApp.Models

@{
    var currentDir = (Diretorio)ViewData["currentDir"];
    var arquivos = (List<Arquivo>)ViewData["arquivos"];
    var diretorios = (List<Diretorio>)ViewData["diretorios"];

    ViewData["Title"] = currentDir.Nome;
}

<h2>@currentDir.Nome</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNovoDiretorio">
  Novo Diretorio
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNovoArquivo">
  Novo Arquivo
</button>
<hr>
<div class="row">
    <!-- IR PARA O PAI -->
    @if (currentDir.PaiId != null) {
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="card text-center">
                <a asp-action="Index" asp-route-id="@currentDir.PaiId">
                    <img class="card-img-top icon" src="~/icons/upper-folder.svg" alt="Card image cap">
                    <div class="card-body nome">..</div>
                </a>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <a class="text-muted"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-4">                        
                            <a class="text-muted"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-4">                                                
                            <a class="text-muted"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- DIRETORIOS -->
    @foreach (var item in diretorios) {
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="card text-center">
                <a asp-action="Index" asp-route-id="@item.Id">
                    <img class="card-img-top icon" src="~/icons/folder.svg" alt="Card image cap">
                    <div class="card-body nome">@Html.DisplayFor(modelItem => item.Nome)
                    </div>
                </a>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <a class="text-muted" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-4">                        
                            <a class="text-muted" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-4">                                                
                            <a class="text-muted" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- ARQUIVOS -->
    @foreach (var item in arquivos) {
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="card text-center">
                <a asp-controller="Arquivo" asp-action="Download" asp-route-id="@item.Id">
                    <img class="card-img-top icon" src="~/icons/file.svg" alt="Card image cap">
                    <div class="card-body nome">@Html.DisplayFor(modelItem => item.Nome)</div>
                </a>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <a asp-controller="Arquivo" class="text-muted" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-4">                        
                            <a asp-controller="Arquivo" class="text-muted" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-4">                                                
                            <a asp-controller="Arquivo" class="text-muted" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!-- Nova Pasta -->
<div class="modal fade" id="modalNovoDiretorio" tabindex="-1" role="dialog" aria-labelledby="modalNovoDiretorioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNovoDiretorioLabel">Nova Pasta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/Diretorio/Create/@currentDir.Id" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="Nome">Nome</label>
                        <input class="form-control" id="Nome" name="Nome" value="" type="text">
                    </div>
                    <input value="@currentDir.Id" id="PaiId" name="PaiId" type="hidden">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <input value="Criar" class="btn btn-primary" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Novo Arquivo -->
<div class="modal fade" id="modalNovoArquivo" tabindex="-1" role="dialog" aria-labelledby="modalNovoArquivoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNovoArquivoLabel">Novo Arquivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data" action="/Arquivo/Create/@currentDir.Id">
                <div class="modal-body">
                    <div>
                        <p>Selecionee:</p>
                        <input name="arquivos" id="arquivos" type="file">
                    </div>
                    <input value="@currentDir.Id" nome="id" type="hidden">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <input id="upload" class="btn btn-primary" value="Enviar Arquivos Selecionados" type="button">
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#upload").click(function (evt) {
                var fileUpload = $("#arquivos").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "/Arquivo/CreateAjax/@currentDir.Id",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        location.reload();
                        //alert(message);
                    },
                    error: function () {
                        console.log(files);
                        alert("Houve um erro ao enviar um ou mais arquivos!");
                    }
                });
            });
        });
    </script>
}



